<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="/bower_components/bootstrap/dist/css/bootstrap.css"
    />
    <title>GloB | Edit Blogs</title>
  </head>
  <body>
    <%- include('includes/navigation'); %>
    <div class="container my-4">
      <h1 class="display-4">Edit Blog</h1>
      <form action="/blogs/edit/<%= blog._id %>" method="POST">
        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          value="<%= blog.title%>"
          required
          class="form-control"
        />
        <label for="author">Author</label>
        <input
          type="text"
          name="author"
          value="<%= blog.author%>"
          required
          class="form-control"
        />
        <label for="body">Body</label>
        <textarea name="body" required class="form-control">
<%= blog.body%></textarea
        >
        <input type="submit" value="Update" class="btn btn-warning my-2" />
      </form>
    </div>
    <%- include('includes/footer');%>
  </body>
</html>
